In [1]:
import numpy as np
import pandas as pd

In [2]:
food = pd.read_csv("Food_Inspections.csv")

3. ¿Cuántas inspecciones tiene el archivo?

In [3]:
food.shape

(216091, 17)

In [4]:
food.head()

,Inspection ID,DBA Name,AKA Name,License #,Facility Type,Risk,Address,City,State,Zip,Inspection Date,Inspection Type,Results,Violations,Latitude,Longitude,Location
0,2473041,ROSATI'S GRANT PARK,ROSATI'S,2762683.0,Restaurant,Risk 1 (High),23 E ADAMS ST,CHICAGO,IL,60603.0,01/22/2021,License,Pass,NaN,41.879391,-87.626848,"(-87.62684825563626, 41.879391313239694)"
1,2473009,JENI'S SPLENDID ICE CREAMS,JENI'S SPLENDID ICE CREAMS,2767260.0,Restaurant,Risk 2 (Medium),2512 N MILKWAUKEE AVE,CHICAGO,IL,60647.0,01/22/2021,License,Pass,NaN,NaN,NaN,NaN
2,2453552,CLAMP DOWN BURGERS,NaN,2749943.0,NaN,Risk 2 (Medium),1742 W DIVISION ST,CHICAGO,IL,60622.0,10/20/2020,License,No Entry,NaN,41.903387,-87.671740,"(-87.67174026586648, 41.903386755553484)"
3,2386634,MY BUDDY'S,MY BUDDY'S,21943.0,Restaurant,Risk 1 (High),4416 N CLARK ST,CHICAGO,IL,60640.0,08/28/2020,Canvass,No Entry,NaN,41.962160,-87.666219,"(-87.6662185738834, 41.962159720050074)"
4,2386595,LA BIZNAGA #2,LA BIZNAGA #2,2708992.0,NaN,Risk 1 (High),2949 W BELMONT AVE,CHICAGO,IL,60618.0,08/27/2020,Complaint,No Entry,NaN,41.939256,-87.702270,"(-87.70226967930802, 41.939255926667535)"

In [5]:
food.rename(columns={col: col.lower().replace(' ','_') for col in food.columns.values}, inplace=True)

In [6]:
food.columns.values

array(['inspection_id', 'dba_name', 'aka_name', 'license_#',
       'facility_type', 'risk', 'address', 'city', 'state', 'zip',
       'inspection_date', 'inspection_type', 'results', 'violations',
       'latitude', 'longitude', 'location'], dtype=object)

4 y 5. ¿Hasta qué fecha tienes inspecciones?

In [7]:
(food['inspection_date'].min(), food['inspection_date'].max())

('01/02/2013', '12/31/2020')

6. ¿Cuántas variables diferentes tienes en el dataset?

In [8]:
len(food.columns.values)

17

7. ¿En cuántas ciudades diferentes se han hecho inspecciones?

In [9]:
food.city.nunique()

70

8. ¿Cuántos tipos de resultados diferentes hay?

In [10]:
food.results.nunique()

7

9. ¿Cuántos tipos de establecimientos diferentes hay?

In [11]:
food.facility_type.nunique()

500

10. ¿Cuántos establecimiento tienen violaciones?

In [12]:
food.violations.count()

np.int64(158355)