In [4]:
import pickle
import pandas as pd
import numpy as np

In [5]:
file_name = "/home/silil/Documents/iexe/ciencia_datos_aplicada/aplicaciones_de_cd_1/datos_limpios.pkl"

1. ¿A cuántos establecimientos diferentes se les ha hecho inspecciones de acuerdo al dataset?

In [9]:
inspections = pickle.load(open(file_name, "rb"))

In [10]:
inspections.shape

(212207, 17)

In [11]:
inspections.head()

,inspection_id,dba_name,aka_name,license_,facility_type,risk,address,city,state,zip,inspection_date,inspection_type,results,latitude,longitude,location,violations
0,67733,WOLCOTT'S,TROQUET,1992040,Restaurant,Risk 1 (High),1834 W MONTROSE AVE,CHICAGO,IL,60613,2010-01-04,License Re-Inspection,Pass,41.961606,-87.675967,"{'latitude': '-87.67596676683779', 'longitude'...",NaN
1,67732,WOLCOTT'S,TROQUET,1992039,Restaurant,Risk 1 (High),1834 W MONTROSE AVE,CHICAGO,IL,60613,2010-01-04,License Re-Inspection,Pass,41.961606,-87.675967,"{'latitude': '-87.67596676683779', 'longitude'...",NaN
3,67757,DUNKIN DONUTS/BASKIN-ROBBINS,DUNKIN DONUTS/BASKIN-ROBBINS,1380279,Restaurant,Risk 2 (Medium),100 W RANDOLPH ST,CHICAGO,IL,60601,2010-01-04,Tag Removal,Pass,41.884586,-87.631010,"{'latitude': '-87.63101044588599', 'longitude'...",NaN
4,104236,TEMPO CAFE,TEMPO CAFE,80916,Restaurant,Risk 1 (High),6 E CHESTNUT ST,CHICAGO,IL,60611,2010-01-04,Canvass,Fail,41.898431,-87.628009,"{'latitude': '-87.6280091630558', 'longitude':...",18. NO EVIDENCE OF RODENT OR INSECT OUTER OPEN...
5,70269,mr.daniel's,mr.daniel's,1899292,Restaurant,Risk 1 (High),5645 W BELMONT AVE,CHICAGO,IL,60634,2010-01-04,License Re-Inspection,Pass,41.938443,-87.768318,"{'latitude': '-87.76831838068422', 'longitude'...",NaN

In [12]:
inspections.aka_name.nunique()

27099

In [15]:
inspections.facility_type.nunique()

493

2. ¿Cuáles son los 5 tipos de establecimientos con más inspecciones en todo el dataset?

In [18]:
inspections.groupby(['facility_type'], as_index=False)['inspection_id']\
.count()\
.sort_values(by="inspection_id", ascending=False)\
.head(10)

                       facility_type  inspection_id
378                       Restaurant         146454
213                    Grocery Store          27800
398                           School          12796
111     Children's Services Facility           3596
45                            Bakery           3113
141            Daycare (2 - 6 Years)           2809
144  Daycare Above and Under 2 Years           2607
268                   Long Term Care           1420
109                         Catering           1285
266                           Liquor            939

3. ¿Cuántas inspecciones tienes en cada año de tu dataset?

In [20]:
inspections['year'] = inspections.inspection_date.dt.year

In [23]:
inspections.year.value_counts()

2016    22749
2017    21510
2014    21487
2013    20898
2015    20850
2019    18973
2012    18798
2011    18671
2010    18003
2018    17119
2020    13149
Name: year, dtype: int64

4. ¿Cuántos tipos de inspecciones existen?

In [27]:
inspections.inspection_type.nunique()

110

5. ¿Cuál es el tipo de inspección que más se realiza?

In [28]:
inspections.groupby(['inspection_type'], as_index=False)['inspection_id']\
.count()\
.sort_values(by='inspection_id', ascending=False)\
.head(10)

             inspection_type  inspection_id
15                   Canvass         112822
44                   License          27816
16     Canvass Re-Inspection          22537
17                 Complaint          19726
45     License Re-Inspection           9475
18   Complaint Re-Inspection           8118
75      Short Form Complaint           7194
80  Suspected Food Poisoning            872
21              Consultation            673
47        License-Task Force            603

6. ¿Cuál es el tipo de inspección que más se realiza en el 2020?

In [33]:
a = inspections.groupby(['inspection_type', 'year'], as_index=False)['inspection_id']\
.count()\
.sort_values(by="inspection_id", ascending=False)

In [34]:
a[a.year==2020]

                            inspection_type  year  inspection_id
25                                  Canvass  2020           6983
113                                 License  2020           1747
36                    Canvass Re-Inspection  2020           1667
47                                Complaint  2020           1362
58                  Complaint Re-Inspection  2020            526
124                   License Re-Inspection  2020            446
199                    Short Form Complaint  2020            377
178                       Recent Inspection  2020             17
225                Suspected Food Poisoning  2020             12
144                          Non-Inspection  2020              5
79                             Consultation  2020              3
236  Suspected Food Poisoning Re-inspection  2020              2
14                          COVID COMPLAINT  2020              1
151                       OFFICE ASSIGNMENT  2020              1

7. ¿Qué porcentaje de establecimientos han pasado inspecciones (Pass y Pass w/ Conditions) y qué porcentaje no (Fail)?

In [35]:
inspections.results.nunique()

7

In [36]:
inspections.results.unique()

array(['Pass', 'Fail', 'Pass w/ Conditions', 'Out of Business',
       'Business Not Located', 'No Entry', 'Not Ready'], dtype=object)

In [38]:
inspections['results_2'] = "fail"

In [39]:
inspections.results_2.mask(inspections.results.str.startswith("Pass"), "pass", inplace=True)

In [40]:
inspections.results_2.value_counts(normalize=True)

pass    0.675553
fail    0.324447
Name: results_2, dtype: float64

8. ¿Qué porcentaje de establecimientos han pasado inspecciones  (Pass y Pass w/ Conditions) en 2020?

In [42]:
inspections_2020 = inspections[inspections.year == 2020]

In [43]:
inspections_2020.results_2.value_counts(normalize=True)

pass    0.64484
fail    0.35516
Name: results_2, dtype: float64

9. ¿Cuántas inspecciones se hacen en el trimestre 3 en promedio?

In [52]:
inspections['quarter'] = inspections.inspection_date.dt.quarter

In [55]:
inspections.quarter.unique()

array([1, 2, 3, 4])

In [64]:
a = inspections.groupby(['year', 'quarter'], as_index=False)['inspection_id'].count()
a.head()

   year  quarter  inspection_id
0  2010        1           4143
1  2010        2           4716
2  2010        3           4773
3  2010        4           4371
4  2011        1           4464

In [60]:
a.groupby(['quarter'], as_index=False)['inspection_id'].mean()

   quarter  inspection_id
0        1    4618.000000
1        2    5147.363636
2        3    4956.727273
3        4    4569.454545

10. ¿Cuántas inspecciones se hacen al día en promedio?

In [62]:
inspections.groupby(['inspection_date'], as_index=False)['inspection_id'].count().mean()

inspection_id    77.054103
dtype: float64